*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c0d4e7;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
    width: 100%;
    height: 100px;
    padding: 5px 20px;
 
}

header img {
    height: 50px;
    margin-top: 20px;
}

header h1{
    margin-left: 10px;
    display: inline-block;
    line-height: 100px;
    vertical-align: middle;

}

/* main  */
.container{
    display: block;
    width: 80%;
    background-color: white;
    padding: 15px 40px;
    margin: 20px auto;
}

.rounded{
    display: inline-block;
    padding: 10px;
    border-radius: 5px;

}

.gray{
    border: gray solid 1px;
    color: gray;
}

.blue{
    background-color: #4f8dcb;
}